<h1 class="page-title" [innerHTML]="'policy.title' | translate"></h1>
<section class="content-section">
  <div class="card">
    <h1 class="turquoise-text" [innerHtml]="'policy.article1.title' | translate"></h1>
    <p class="bold-text" [innerHtml]="'policy.article1.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'policy.article2.title' | translate"></h1>
    <p class="bold-text" [innerHtml]="'policy.article2.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'policy.article3.title' | translate"></h1>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article3.subtitle1' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article3.content1' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article3.subtitle2' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article3.content2' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article3.subtitle3' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article3.content3' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'policy.article4.title' | translate"></h1>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article4.subtitle1' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article4.content1' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article4.subtitle2' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article4.content2' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'policy.article5.title' | translate"></h1>
    <p class="bold-text" [innerHtml]="'policy.article5.content' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article5.subtitle' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article5.subtitle1' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article5.content1' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article5.subtitle2' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article5.content2' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article5.subtitle3' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article5.content3' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article5.subtitle4' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article5.content4' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article5.subtitle5' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article5.content5' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article5.subtitle6' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article5.content6' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'policy.article6.title' | translate"></h1>
    <p class="bold-text" [innerHtml]="'policy.article6.content' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article6.subtitle1' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article6.content1' | translate"></p>
    <p class="turquoise-text subtitle" [innerHtml]="'policy.article6.subtitle2' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article6.content2' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'policy.article7.title' | translate"></h1>
    <p class="bold-text" [innerHtml]="'policy.article7.content' | translate"></p>
    <p class="turquoise-text" [innerHtml]="'policy.article8.title' | translate"></p>
    <p class="bold-text" [innerHtml]="'policy.article8.content' | translate"></p>
  </div>
</section>
