<div *ngIf="!already" class="container">
  <form [formGroup]="form" class="f" #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <br />
    <span class="p-float-label">
      <input formControlName="mail" id="mail" type="text" name="mail" required #mail pInputText />
      <label [innerHtml]="'mdpoublie.form.mail' | translate" for="mail"></label>
    </span>
  
  <br />
  <div class="submitcancel">
    <p-button
    [disabled]="!form.valid"
      type="submit"
      [label]="'mdpoublie.form.resetpassword' | translate"      styleClass="p-button-text"></p-button>
    <p-button (click)="onCancel()" [label]="'mdpoublie.form.cancel' | translate" styleClass="p-button-text"></p-button>
  </div>
</form>
  <div class="submitcancel">
    <p-button
        type="button"
        [label]="'mdpoublie.form.alreadycode' | translate"
        styleClass="p-button-text"
        (click)="alreadyCode()"></p-button>
        <br>
      </div>
</div>
<app-changemdp (newEventEmitter)="eventEmitterReceive($event)" *ngIf="already"></app-changemdp>
