<h1 class="page-title" [innerHTML]="'mentions.title' | translate"></h1>
<section class="content-section">
  <div class="card">
    <h1 class="turquoise-text" [innerHtml]="'mentions.article1.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'mentions.article1.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'mentions.article2.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'mentions.article2.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'mentions.article3.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'mentions.article3.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'mentions.article4.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'mentions.article4.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'mentions.article5.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'mentions.article5.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'mentions.article6.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'mentions.article6.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'mentions.article7.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'mentions.article7.content' | translate"></p>
  </div>
</section>
