.frequency-asked-question-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 70vh;

  h1 {
    font-weight: bold;
    font-size: 5rem;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(45deg, #7ad4fe, #adfcc9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin: 2rem 0 0;
    animation: 1.5s ease 0s 1 fade-in-and-grow;
    -webkit-animation: 1.5s ease 0s 1 fade-in-and-grow;
  }

  p-accordion {
    margin: 2rem 0 3rem;
    align-items: center;
    animation: 1s ease-out 0s 1 slide-and-fade-in;
    -webkit-animation: 1s ease-out 0s 1 slide-and-fade-in;
  }

  .p-element {
    width: 80%;
  }
}
