<h1 class="page-title" [innerHTML]="'conditions.title' | translate"></h1>
<section class="content-section">
  <div class="card">
    <h1 class="turquoise-text" [innerHtml]="'conditions.article1.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article1.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article2.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article2.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article3.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article3.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article4.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article4.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article5.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article5.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article6.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article6.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article7.title' | translate"></h1>
    <p class="turquoise-text" [innerHtml]="'conditions.article7.subtitle1' | translate"></p>
    <p class="article-text" [innerHtml]="'conditions.article7.content1' | translate"></p>
    <p class="turquoise-text" [innerHtml]="'conditions.article7.subtitle2' | translate"></p>
    <p class="article-text" [innerHtml]="'conditions.article7.content2' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article8.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article8.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article9.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article9.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article10.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article10.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article11.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article11.content' | translate"></p>
    <h1 class="turquoise-text" [innerHtml]="'conditions.article12.title' | translate"></h1>
    <p class="article-text" [innerHtml]="'conditions.article12.content' | translate"></p>
    <p class="article-text" [innerHtml]="'conditions.footer' | translate"></p>
  </div>
</section>
